footer.footer
  .container.container--footer
    .footer__logo-wrap
      .footer__copy онлайнЧЕКИ ©2020
      a.footer__logo(href="/")
        img.footer__logo-pic(src="/assets/images/icons/logo-footer.png" alt="Логотип Чекитут")
    ul.footer__contacts
      li.footer__contacts-item.footer__contacts-item--phone
        a.footer__contacts-link(href="tel:+74952082279") +7 (495) 208-22-79
      li.footer__contacts-item.footer__contacts-item--email
        a.footer__contacts-link(href="mailto:2082279@gmail.com") 2082279@gmail.com
      li.footer__contacts-item.footer__contacts-item--city
        a.footer__contacts-link(href="#") Москва
    include ./navigation.pug
    