header.header 
  .container.container--header
    a.header__logo(href="/")
      img.header__logo-pic(src="/assets/images/icons/logo.png" alt="Логотип Чекитут")
    ul.header__contacts
      li.header__contacts-item.header__contacts-item--phone
        a.header__contacts-link(href="tel:+74952082279") +7 (495) 208-22-79
      li.header__contacts-item.header__contacts-item--email
        a.header__contacts-link(href="mailto:2082279@gmail.com") 2082279@gmail.com
      li.header__contacts-item.header__contacts-item--city
        a.header__contacts-link(href="#") Москва
    button.hamburger.hamburger--elastic(type='button')
      span.hamburger-box
        span.hamburger-inner
        