section.main-textcontent
  .container

    h2.main-textcontent__title.title «КУПИТЬ ЧЕКИ ДЛЯ ОТЧЕТНОСТИ?» - ИЗГОТОВИМ И ДОСТАВИМ!
    p Чеки для подтверждения расходов и отчетности – важный документ, незаменимый для корректного ведения бухгалтерии. Они могут быть испорчены, утеряны, неправильно заполнены. Кроме того, не всегда представляется возможным их оформление. В таких случаях, сотрудник компании может оказаться в непростой ситуации, когда ему не возместят потраченные во время командировки или в иных ситуациях личные денежные средства.
    p Однако выход можно найти даже в непростой ситуации. Компания «ЧЕКИТУТ» предоставит по вашему запросу любые действительные чеки для отчётности. Они могут подтверждать разные расходы, начиная от приобретения канцелярских товаров для офиса (бумага, ручки для письма, блокноты, календари и т.д.), до закупки стройматериалов для косметического ремонта офисных помещений и подтверждения проживания в гостинице во время командировки.

    article.main-textcontent__block
      .main-textcontent__content

        h3.main-textcontent__block-title Как сделать чеки
        p Компания «ЧЕКИТУТ» предлагает купить чеки, при этом возможна доставка любой отчетности без предоплаты. Для того, чтобы заказать необходимый документ, свяжитесь с нами удобным для вас способом и уточните информацию, которую необходимо подтвердить чеками, накладными, актами или квитанциями.
        p Мы предлагаем нашим клиентам сделать чеки, даже если они не просто испорчены или утеряны, а их изначального варианта вообще не существовало. Такая ситуация случается, когда командировочный останавливается не в гостинице или отеле, а у своих друзей, знакомых или родственников. Но это вовсе не означает, что он теряет право получения компенсации за проживание в другом городе.
        p Воспользоваться услугами нашей компании можно и в тех случаях, когда в силу разных обстоятельств невозможно документально подтвердить понесенные затраты.
      
      .main-textcontent-image-wrap
        img.main-textcontent-image(src="/assets/images/content/main-textcontent-check.png")

    article.main-textcontent__block-last
      h3.main-textcontent__block-title В каких случаях чеки для подтверждения расходов будут действительны?
      p Вся предоставляемая нами бухгалтерская отчетность, включая чеки, договоры и накладные, действительны для организаций любых форм собственности, включая ИП и государственные (федеральные) и муниципальные предприятия.
      p В документах будут указаны реальные данные гостиниц, предприятий общественного питания, магазинов и компаний, оказывающих юридические, транспортные, бухгалтерские, консультационные и прочие услуги, а также адреса, которые можно проверить. Это значит, что вы можете быть уверенными в действительности предоставленных в бухгалтерию документов.