- 
  var navList = [
      {name: "Главная", href: "/" }, 
      {name: "Доставка и оплата", href: "/delivery.html"},
      {name: "Цены", href: "/price.html" }, 
      {name: "О нас", href: "/company.html" }, 
      {name: "Контакты", href: "/contacts.html" }, 
      {name: "Отзывы", href: "/reviews.html" }, 
      {name: "Образцы", href: "/samples.html" }, 
      {name: "Информация", href: "/information.html" }, 
      {name: "FAQ", href: "/faq.html" }, 
    ]

nav.navigation
  .container.container--navigation
    ul.navigation__list
      //- h2= navList[0].name
      each item in navList
        li.navigation__item
          a.navigation__link(href=`${item.href}`)= item.name



