article.postscriptum
  .postscriptum__text Стоимость документов <span>ВСЕГО: 1-10%</span> от общей суммы документов.
  .postscriptum__text-highlighter БОЛЬШЕ СУММА=МЕНЬШЕ ПРОЦЕНТ!
  .postscriptum__text Минимальная цена одного документа <span>500 рублей.</span>
  .postscriptum__text Минимальная цена заказа <span>1000 рублей.</span>