-
  var whyList = [
    {name: "Опыт", 
    desc1: "Многолетний опыт и обширная база данных документов, позволяет нам выполнить, даже самые тяжелые и невыполнимые задачи в сфере подготовки документов.", 
    desc2: "Тысячи довольных клиентов постоянно пользуются нашими услугами для выполнения своих задач, присоединяйтесь к ним.", 
    img:"about-01.png"},
    {name: "Качество", 
    desc1: "Все документы подготовленные нашей компанией проходят строгий контроль качества. Сотрудник работающие у нас имеют высшее образование в сфере бухгалтерского учета и делопроизводства.", 
    desc2: "Работая с нами Вы всегда получаете только качественные документы.", 
    img:"about-02.png"},
    {name: "Цена", 
    desc1: "Цена наших документов всегда ниже рыночной.", 
    desc2: "Покупая документы у нас Вы не только получаете наилучший продукт, но так же экономите свое время и деньги.", 
    img:"about-03.png"}
  ]

.why-we
  h2.why-we__title.title Почему выбирают нас?
  ul.why-we__list 
     each item in whyList
      li.why-we__item
        .why-we__image
          img.why-we__pic(src=`/assets/images/icons/${item.img}` alt=`item.name`)
        .why-we__list-title= item.name
        p= item.desc1
        p= item.desc2
