.hero {
  height: 440px;
  background: url("/assets/images/content/bg_hero.png") no-repeat;
  background-position: bottom;
}

.hero__title {
  font-family: "Bebas-bold";
  font-size: 68px;
  color: #fff;
  // line-height: 6px;
}
