.paymethods__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.paymethods__item {
  max-width: 16.6%;
  filter: saturate(100%);
  transition: filter .3s;

  &:hover {
    filter: saturate(200%)
  }
}

.paymethods__img {
  width: 100%;
}
