.why-we {
  background: url("/assets/images/content/bg_company.jpg") no-repeat;
  background-size: cover;
  padding: 115px 0;
}
.why-we__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  // width: 100%;

  @include tablets {
    flex-wrap: wrap;
  }
}

.why-we__item {
  width: 27%;
  text-align: center;
  & p {
    text-align: justify;
    font-family: "Ubu";
    font-size: 16px;
    color: $text-light;
  }

  @include tablets {
    width: 50%;
    padding: 0 20px;
  }

  @include phones {
    width: 100%;
  }
}

.why-we__list-title {
  font-family: "Ubu-bold";
  font-size: 18px;
  color: $title-color;
  margin-top: 40px;
}
